/target/
/workers/rust/target/
/workers/go/bin/
/workers/python/.venv/
/workers/python/dist/
/workers/python/*.egg-info/
/workers/python/**/__pycache__/
/workers/python/**/*.pyc
/workers/node/dist/
/workers/java/target/
/website/dist/
node_modules/
.env
.DS_Store
